.container {
    color: #000;
  }
  
  .p-menubar {
    background: linear-gradient(to right, #000428, #3b89cd);
    display: flex;
    justify-content: center;
  }
  .p-menu {
    display: flex;
    justify-content: center;
  }

  