<div class="container-fluid bg-light">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-danger text-muted">Bienvenue</h4>
                        </div>
                        <div class="mb-3">
                            <p class="alert alert-success" role="alert">lien envoyé sur votre e-mail enregistré. veuillez le vérifier.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>


