<div class="card" style="text-align: center;">
    <p-menubar [model]="items" class="p-menubar" >
      <ng-template pTemplate="start">
        <img src="../../assets/samrt.jpeg" height="50" class="mr-3" />
      </ng-template>
    </p-menubar>
  </div>
  <div style="margin-top: 160px;">
    <h1 class="text-center my-5" style="color: #004e92;">Réclamation les ouvriers </h1>
<table class="table text-center container p-3 shadow" style="background: linear-gradient(to right, #061d19, #021322);  margin-bottom: 50px;">
    <thead>
      <tr>
        <th>Machine Name</th>
        <th>Status</th>
        <th>Date et Heure</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reclamation of reclamations | async">
        <td>{{ reclamation.machineName }}</td>
        <td>{{ reclamation.status }}</td>
        <td>{{ reclamation.timestamp }}</td>
      </tr>
    </tbody>
  </table>
  </div>

  <footer class="sticky-footer" style="background: linear-gradient(to right, #000428, #004e92);margin-top: 130px;">
    <div class="container my-auto">
      <div class="text-center my-auto">
        <span style="color: white;">© Votre site Web 2023</span>
      </div>
    </div>
  </footer>